// Import Bulma's core
@import '~bulma/sass/utilities/_all';
$grey-darker: #282a36; // primary background color
// $grey-darker: #282a36;
$grey-dark: #1f2633; // navbar, quotes in content
// $grey-dark: #bb92f6;
$accent-color: #0070c0;
$grey: #4e5d6c;
$grey-light: #8694a4;
$grey-lighter: #dee5ed;
$grey-lightish: #38526b;

$orange: #df691a;
$yellow: #f0ad4e;
$green: #5cb85c;
$blue: #5bc0de;
$red: #d9534f;

$primary: $orange !default;

$dark: darken($grey-darker, 3);

$title-color: $grey-lighter;
$title-weight: 400;
$subtitle-strong-color: $grey-lighter;
$subtitle-color: darken($grey-lighter, 10);
$subtitle-strong-color: darken($grey-lighter, 10);

$background: $grey-dark;
$body-background-color: $grey-darker;
$footer-background-color: $background;
$footer-padding: 2rem;

// $border: rgba($grey, 0.2);
$border: #313d4f;

$family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$text: $grey-lighter;
$text-strong: darken($grey-lighter, 10);
$text-light: $grey-light;

$box-background-color: $background;

$card-shadow: 0 0 15px darken($grey-dark, 1);
$card-background-color: darken($grey-dark, 1);
$card-header-box-shadow: none;
$card-header-background-color: darken($body-background-color, 3);
$card-footer-background-color: darken($body-background-color, 3);

$link: $grey-lighter;
$link-hover: $grey-lighter;
$link-focus: $grey-lighter;
$link-active: $grey-lighter;

$button-color: $grey-lighter;
$button-background-color: $grey;
$button-border-color: $grey;

$button-hover-border: transparent;
$button-active-border-color: transparent;

$radius: 15px;
$radius-small: 5px;

$input-hover-color: $link-hover;
$input-color: $grey-darker;
$input-icon-color: $grey;
$input-icon-active-color: $input-color;

$table-color: $text;
$table-head-color: $grey-lighter;
$table-background-color: $grey-dark;
$table-cell-border: 1px solid $grey;
$table-row-hover-background-color: $grey-darker;
$table-striped-row-even-background-color: $grey-darker;
$table-striped-row-even-hover-background-color: lighten($grey-darker, 4);

$navbar-background-color: $background;
$navbar-item-color: $text;
$navbar-item-hover-color: $grey-light;
$navbar-item-active-color: $primary;
$navbar-item-hover-background-color: rgba($accent-color, 0.45); //rgba($grey-darker, 0.1);
$navbar-item-active-background-color: rgba($accent-color, 0.45); //rgba($grey-darker, 0.1);
$navbar-dropdown-item-hover-color: $grey-light;
$navbar-dropdown-item-active-color: $primary;
$navbar-dropdown-background-color: $background;
$navbar-dropdown-arrow: currentColor;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;
$dropdown-item-hover-color: $text-light;

$tabs-toggle-link-active-background-color: $background;
$tabs-toggle-link-active-border-color: $border;
$tabs-toggle-link-active-color: #fff;
$tabs-boxed-link-active-background-color: $body-background-color;

$pagination-color: $link;
$pagination-border-color: $border;

$bulmaswatch-import-font: true !default;

$file-cta-background-color: $grey-darker;

$progress-bar-background-color: $grey-dark;

$panel-heading-background-color: $grey-dark;

$content-blockquote-border-left: 5px solid $accent-color;

$breadcrumb-item-color: $grey-lighter;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

.section {
  background-color: $body-background-color;
}

.hero {
  background-color: $body-background-color;
}

.button {
  &.is-hovered,
  &:hover {
    background-color: darken($button-background-color, 3%);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: darken($color, 3%);
      }
    }
  }

  &.is-loading:after {
    border-color: transparent transparent $grey-light $grey-light;
  }
}

.label {
  color: $grey-lighter;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.card.author-card {
  background: rgba($accent-color, 0.25);
  border-radius: 0;
  box-shadow: none;
  border-left: 5px solid $accent-color;
  border-right: 5px solid $accent-color;
  margin-top: 15px;
  width: 100%;
  figure {
    margin: 0;
  }

  .heading {
    margin: 0px;
    color: $grey-light;
  }

  .title {
    margin-top: 0px;
  }

  .social-grid {
    margin-top: -0.5rem;
  }

  @media screen and (max-width: 768px) {
    .media {
      flex-direction: column;
      align-items: center;

      .media-left {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

.box.author-box {
  background: rgba($accent-color, 0.25);
  border-radius: $radius;
  box-shadow: $card-shadow;
  //   border-left: 5px solid $accent-color;
  //   border-right: 5px solid $accent-color;
  .author-image {
    margin-bottom: 1rem;
  }
}

.card {
  //   border: 1px solid $border;
  border-radius: $radius;
  display: flex;
  flex-direction: column;

  .card-image {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  .card-content {
    flex: auto;
  }

  .card-header {
    border-radius: $radius $radius 0 0;
  }

  .card-footer,
  .card-footer-item {
    border-width: 0;
    border-color: $border;
  }

  .card-footer-tags {
    padding: 0 $card-content-padding $card-content-padding $card-content-padding;
  }
}

.card .tag {
  background: $grey-darker;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.modal-card-body {
  background-color: $body-background-color;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
  }

  @include touch {
    .navbar-menu {
      background-color: transparent;
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      @include touch {
        .navbar-item,
        .navbar-link {
          color: $color-invert;

          &.is-active {
            color: rgba($color-invert, 0.7);
          }
        }

        .navbar-burger {
          span {
            background-color: $color-invert;
          }
        }
      }
    }
  }
}

.hero {
  .navbar {
    .navbar-dropdown {
      .navbar-item {
        color: $grey-lighter;
      }
    }
  }
}

body,
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.main-section {
  -moz-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

footer.footer {
  border-top: 5px solid $accent-color;
  -moz-box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
}

.navbar-start {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.navbar-menu a.navbar-item {
  padding: 8px 25px;
  margin: 0px 25px;
}

.navbar-menu a.navbar-item,
.navbar-menu .navbar-link {
  cursor: pointer;
  &:focus,
  &:focus-within,
  &:hover,
  &.router-link-active,
  &.is-active {
    background-color: transparent;
    border-bottom: 2px solid $navbar-item-hover-background-color;
    color: $navbar-item-color;
  }
}

@media screen and (max-width: $desktop - 1px) {
  #logo {
    display: none;
  }
  .force-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-end {
    display: flex;
    justify-content: center;
  }
}

.hero-content-section {
  padding-bottom: 15px;
}

.hero-content-stats:not(:last-child) {
  padding-bottom: 15px;
}

.icon {
  display: inline-block;
}

.accent-bar {
  border-top: 5px solid $accent-color;
}

.hero {
  -moz-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
  &.is-medium {
    @include tablet {
      .hero-body {
        padding-bottom: 5rem;
        padding-top: 5rem;
      }
    }
  }
  &.is-primary {
    background: $grey-dark;
  }
}

.box.breadcrumb-container {
  border-radius: 0px;
  //   background: darken($grey-dark, 3);
  background: $accent-color;
  border-bottom: 5px solid $accent-color;
  padding: 15px;
}

.post-content {
  max-width: 680px;
  margin: 0 auto;

  font-size: 1.1em;
}

.article-tags {
  margin-top: 15px;
  .tag {
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.subtitle,
.subtitle a {
  color: $grey-light;
}

.subtitle.series-subtitle {
  color: $grey-lighter;
}

.disqus-comments {
  margin-top: 1.5rem;
}

.homepage {
  background: $grey-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// @import 'overrides';
@import 'animations';

h1,
h2,
h3,
h4 {
  code {
    font-size: 0.85em;
  }
}

// code formatting
#app {
  pre,
  code {
    font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
      monospace;
    font-feature-settings: 'liga' 0;
    border-radius: 3px;
    line-height: 1.5;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    tab-size: 2;
    hyphens: none;
    color: #d8d8d8;

    &::selection {
      background: #af8787;
    }
  }

  pre::-moz-selection,
  pre ::-moz-selection,
  code::-moz-selection,
  code ::-moz-selection {
    background: #af8787;
  }

  pre::selection,
  pre ::selection,
  code::selection,
  code ::selection {
    background: #af8787;
  }

  // Code blocks
  pre {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    margin-bottom: 15px;
    background-color: $grey-dark;
    border-left: 5px solid $accent-color;
    border-radius: 0;
  }

  // Inline code
  :not(pre) > code {
    color: var(--inline-code-text);
    padding: 0.2rem 0.33rem;
    vertical-align: 1%;
    font-size: 0.78em;
    background-color: var(--inline-code-bg);
  }
}

// HTML code
.language-html {
  font-variant-ligatures: none;
}

.token.comment .token.prolog,
.token.doctype,
.token.cdata {
  color: #4e4e4e;
}

.token.comment {
  color: #4e4e4e;
}

.token.punctuation {
  color: #da70d6;
}

.token.namespace {
  opacity: 0.7;
}

.token.operator {
  color: #e2777a;
}

.token.boolean,
.token.number {
  background: transparent;
  align-items: baseline;
  margin: 0;
  padding: 0;
  min-width: 0;
  border-radius: 0;
  color: inherit;
  display: inline-block;
  font-size: 1rem;
  height: inherit;
  justify-content: left;
  line-height: inherit;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
  color: #448aa9;
}

.token.string {
  color: #ff8147;
}

.token.selector {
  color: #af8787;
}

.language-css {
  color: #ff8147;
  .token.punctuation {
    color: #f8f8f8;
  }
  .token.property {
    color: #d8d8d8;
  }
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #448aa9;
}

.token.control,
.token.directive,
.token.unit {
  color: #ff8147;
}

.token.keyword {
  color: #a88383;
}

.token.maybe-class-name {
  color: #448aa9;
}

.token.function {
  color: #bd93f9;
}

.token.tag {
  color: #748096;
  background: transparent;
  align-items: left;
  border-radius: 0;
  color: inherit;
  display: inline-block;
  font-size: 1rem;
  height: inherit;
  justify-content: left;
  line-height: inherit;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
  .token.punctuation {
    color: rgba(#748096, 0.85);
  }
}

.token.attr-name {
  color: #448aa9;
}
.token.attr-value {
  color: #ff8147;
  .token.punctuation {
    color: #f8f8f8;
  }
}

.token.statement,
.token.regex,
.token.atrule {
  color: #86c1b9;
}

.token.placeholder,
.token.variable {
  color: #7cafc2;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #f8f8f8;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #ab4642;
}

.token.entity {
  cursor: help;
}
