// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
// $primary: #202442;
$primary: #1d2034;
// $primary: #20222e;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$info: #e63946;
$red: #e63946;
$dark: #1d3557;
$warning: #ffdd57;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'twitter': (
    $twitter,
    $twitter-invert,
  ),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Navbar
$navbar-background-color: $primary;
$navbar-item-hover-background-color: rgba(255,255,255,0.7);
$navbar-item-color: white;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

html {
    color: $dark;
    background-color: white;
}

body,
.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar-start{
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.navbar-menu a.navbar-item {
    padding: 8px 25px;
    margin: 0px 25px;
}

.navbar-menu a.navbar-item,
.navbar-menu .navbar-link {
  cursor: pointer;
  &:focus,
  &:focus-within,
  &:hover,
  &.router-link-active,
  &.is-active {
    background-color: transparent;
    border-bottom: 1px solid $navbar-item-hover-background-color;
    color: $navbar-item-color; } }

@media screen and (max-width: $desktop - 1px){
    #logo{
        display: none;
    }
    .force-center{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-end{
        display: flex;
        justify-content: center;
    }
}

.hero-content-section {
    padding-bottom: 15px;
}

.icon {
    display: inline-block;
}

.hero.is-medium  {
    @include tablet {
        .hero-body {
            padding-bottom: 5rem;
            padding-top: 5rem;
        }
    }
}

.box.breadcrumb-container {
    border-radius: 0px;
}

.hero {
    -moz-box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.45);
    -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.45);
    box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.45);
}

.post-content {
    max-width: 680px;
    margin: 0 auto;
}